grant {
	permission javax.security.auth.AuthPermission "createLoginContext.Custom";
	permission javax.security.auth.AuthPermission "modifyPrincipals";
};