/** Login Configuration for the JAAS Sample Application **/

Windows {
   com.sun.security.auth.module.NTLoginModule required debug=true;
};

Unix {
   com.sun.security.auth.module.UnixLoginModule required debug=true;
};

Combined {
  com.sun.security.auth.module.UnixLoginModule sufficient debug=true;
  com.sun.security.auth.module.NTLoginModule sufficient debug=true;
};


Custom {
   jaas.custom.module.CustomLoginModule required debug=true;
};